
		/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
       *{font-family: 'Oswald', sans-serif;}*/
         body{margin: 0;padding: 0;overflow-x: hidden;}   
         header{ padding: 0 0.8%;
         	overflow: hidden;
         	position:sticky;
         	top: 0em;
         	bottom: 1em; 
         	background-color: white;
         	display: inline-block;
            box-shadow: rgba(250,150,50,0.9);
         	width: 100%;
         }
         header a{  top: 0;
         	float: right;
         	display: block;
         	color: black;
         	text-align: center;
         	padding: 1em 1.2em;
         	text-decoration: none; }
         header .logo{
         	float:left;
         	top:0.3em; ;
        text-align:center;
        padding: 0.5%;
        margin-left: 2.2%;
        font-size: 25px;
        position: relative;  
         }
         header a:hover{
         	background: rgba(180,180,180,0.6);
         }
	